
    <h2>Send us a Message</h2>
  
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">

        <label class="control-label" for="name">User:</label>
        <br>
        <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="name">
        <br>
        <label class="control-label" for="name">Email:</label>
        <br>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
        <br>
        <label class="control-label" for="name">Message:</label>
        <br>
        <input type="message" class="form-control" id="message" name="message" [(ngModel)]="message">
        <br>
        <div class="alert alert-danger" *ngIf="warning">
        {{warning}}
      </div>

      <button class="btn btn-primary pull-right" type="submit" >Send Message</button>
    </form>